body {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #202020;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
}
.logo {
    margin-left:60px;
    margin-right:50%;
    font-size: 25px;
}
.container {
    font-size: 17px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 15px;
}
.inloggen {
    background-color: blue;
    border-radius: 12px;
}
.inloggen :hover {
    background-color: darkblue;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding : 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}